
<% layout('layout/boilerplate') %> 
<%- include('../partials/navbar') %> 
<%- include('../partials/flash') %>
<link rel="stylesheet" href="/css/show.css">

<div class="container mt-2">
  <div class="row justify-content-start display-5">
    <div class="col-8">
      <h3 class="display-3"><strong><%= usr.username %>'s</strong> Listed shows </h3>
  </div>
    <div class="col-6">
      <div class="display-6"><b><%= usr.email %></b></div>
  </div>
</div>
 

<div class="container-fluid mt-1" id="con">
            <div class="row justify-content-center">
              <% for(let obj of usr.BList){ %>
                 
                   <div class="card mb-3 p-2 border border-info" id="card">
                        <div class="row justify-content-around" id="crd">
                          <div class="col-md-5">
                              <div id="imgbox">
                            <% if(obj.image == 'N/A'){ %> 
                                <img src="/resources/noi.jpg" class="card-img" alt="N/A">
                            <% }else{ %> 
                                <img src="<%=obj.image%>" class="card-img" alt="N/A">
                            <% } %> 
                              </div>
                          </div>
                            
                          <div class="col-md-7" id="content">
                            <div class="card-body p-2">
                                <h5 class="display-4"><%= obj.name %></h5>
                                <p class="card-text"><b>Type- </b> <%= obj.Stype %></p>
                                <p class="card-text"><b>Rated - </b> <%= obj.rating %></p>
                                <p class="card-text"><b>Language - </b> <%= obj.language %></p>
                                <p class="card-text"><b>Genres - </b> <%= obj.genres %></p>
                                <p class="card-text"><b>Status - </b> <%= obj.status %></p>
                                <p class="card-text"><b>PLOT - </b> <%- obj.plot %></p>
                                <% if(obj.siteURL!== 'N/A'){ %> 
                                  <a href="<%= obj.siteURL %>" style="text-decoration-line: none;">
                                  <button type="button" class="btn btn-success">Go to Official Site</button>
                                  </a>
                                <% } %> 
                                <br><br>
                                <form action="/lists/mylist" method="post">
                                    <button class="btn btn-md btn-danger" value="<%= obj._id %>" name="showID">Remove from List</button>
                                </form>
                              </div>
                          </div>
                        </div>
                      </div>
                
                <% } %> 
            </div>       
    </div>
</div>
